*,
::before,
::after {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "DM Sans", sans-serif;
}
:root {
    --primary-color: #5d3bee;
    /* --primary-font:  "DM Sans", sans-serif; */
}
/* Common */
.dot {
    --size: 16px;
    border-radius: 50%;
    display: inline-block;
    height: var(--size);
    width: var(--size);
    background: rgba(8, 4, 21, 0.2);
}
.dot-active {
    --size: 20px;
    background: var(--primary-color);
    height: var(--size);
    width: var(--size);
    background: var(--primary-color);
    border: 3px solid #fff;
    outline: 1px solid var(--primary-color);
}
.btn {
    --height: 62px;
--width: 170px;
    display: inline-block;
    text-align: center;
    width: var(--width);
    height: var(--height);
    line-height: var(--height);
    flex-shrink: 0;
    background: #5d3bee;
    color: #fdfdfd;
    font-size: 1.8rem;
    font-weight: 700;
}
.btn:hover {
    opacity: 0.8;
    cursor: pointer;
}
.heading,.heading1, .heading2{
    color: #080415;
    font-family: DM Sans;
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 117.85; /* 95% */
    letter-spacing: -2.24px;
}
.heading{
    font-size: 8rem;
    line-height: 0.95; /* 95% */
    letter-spacing: -3.2px;
}

.heading2{
    font-size: 3.2rem;
    line-height: 1.25; /* 125% */
    letter-spacing: -1.28px;
}
.desc {
    color: #51586a;
    text-align: center;
    font-family: DM Sans;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66; /* 166.667% */
}
a {
    text-decoration: none;
}
a:hover {
    cursor: pointer;
}
/* Header */
.header {
    background: #fbfaff;
    padding: 20px 0;
}
.header__direct{
    display: flex;
    align-items: center;
    gap: 10px;
}
.header__menu--mobile{
    display: none;
}
.header__inner,
.footer__body {
    padding: 0 135px;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}
.header__contact,
.footer__contact {
    display: flex;
    align-items: center;
}
.contact__media {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 46px;
    height: 46px;
    border: 1px solid rgba(93, 59, 238, 0.2);
    /* opacity: 0.2; */
    /* background: #000; */
}

.contact__link {
    margin-left: 10px;
    color: #080415;
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 1.36; /* 136.364% */
    text-decoration-line: underline;
}

.header__img,
.footer__img {
    transform: translateX(75%);
    margin: 0 auto;
    width: 100px;
    height: 100px;
    flex-shrink: 0;
}
.header__img--avt,
.footer__img--avt {
    object-fit: cover;
}
.nav__list {
    display: flex;
    align-items: center;
    gap: 43px;
}
.nav__link {
    color: #51586a;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: normal;
}
/* Hero */
.hero{
    position: relative;
    padding-top: 44px;
    background: #fbfaff;

}
.hero__body {
    display: flex;
    align-items: center;
    /* column-gap: 80px; */

}
.hero::after{
    position: absolute;
    bottom: 0;
    right: 0;
    content: url(../img/hero__decor-right.svg);
}
.hero__media{
    width: 100%;
    position: relative;
}
.hero__media::before{
    position: absolute;
    bottom: -3px;
    right: -80px;
    content: url(../img/hero__decor--left.svg);
}
.hero__img-wrap {
    width: 514px;
    height: 705px;
    flex-shrink: 0;
}
.hero__img {
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero__content {
    padding-left: 80px;
    flex-shrink: 1;
}

.hero__heading {
    width: 500px;
}
.hero__desc {
    text-align: left;
    width: 370px;
    margin-top: 20px;
}
.hero__action {
    margin-top: 50px;
    display: flex;
    align-items: center;
    gap: 30px;
}
.hero__link {
    color: #080415;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.66; /* 166.667% */
    text-decoration-line: underline;
}
.hero__contact {
    margin-top: 104px;
    display: flex;
    align-items: center;
    gap: 15px;
}
.contact__title {
    color: #51586a;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.87; /* 187.5% */
}
.contact__list {
    display: flex;
    align-items: center;
    gap: 20px;
}
.contact__item {
    flex-shrink: 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact__item:hover {
    opacity: 0.8;
}
/* Client */
.client {
    padding: 100px 0 140px;
}
.client-recent {
    display: flex;
    align-items: center;
}
.client-recent__heading {
    width: 253px;
    position: relative;
}
.client-recent__heading::before {
    top: 12px;
    left: -99px;
    position: absolute;
    content: "";
    width: 86px;
    height: 2px;
    flex-shrink: 0;
    background: #5d3bee;
}
.client-recent__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 34px;
    justify-content: space-between;
}
.client-recent__item {
    display: flex;
    align-items: center;
    gap: 13px;
}

.client-recent__img {
    border-radius: 50%;
    object-fit: cover;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
}

.client-item__name {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.19;
    color: #080415;
}
/* Special  */

.special {
    padding-bottom: 140px;
}
.special__heading {
    text-align: center;
    color: #080415;
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 1.18; /* 117.857% */
    letter-spacing: -2.24px;
}
.special__desc {
    margin: 20px auto 0;
    width: 534px;
}
.special-list {
    width: 100%;
    margin-top: 60px;
    display: flex;
    align-items: center;
}
.special-item {
    padding: 33px 43px;
    width: 100%;
    height: 306px;
    background: #fbfaff;
}
.special-item__icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    border-radius: 50%;
    width: 74px;
    height: 74px;
    flex-shrink: 0;
    border: 1px solid rgba(8, 4, 21, 0.05);
}
.special-item__heading {
    margin-top: 22px;
}
.special-item__desc {
    margin-top: 15px;
    text-align: left;
}
.specials-dots{
    display: none;
}
/* Project */
.project {
    background: #5d3bee;
    padding: 86px 0;
}
.project-head {
    display: flex;
    align-items: baseline;
}
.project__heading {
    width: 468px;
    color: #fff;
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 1.18; /* 117.857% */
    letter-spacing: -2.24px;
}
.project__desc {
    text-align: left;
    margin-left: 160px;
    width: 370px;
    opacity: 0.7;
    color: #fff;
}
.project-list {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
}
.project-item {
    position: relative;
    height: 234px;
    flex-shrink: 0;
    background: #fbfaff;
    padding: 23px;
    display: flex;
    justify-content: space-between;
}
.project-item__info {
    margin: 20px 0 0 10px;
}
.project-item__heading {
    color: #080415;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25; /* 125% */
    letter-spacing: -1.28px;
}
.project-item__desc {
    width: 220px;
    margin-top: 10px;
}
.project-item__more {
    display: block;
    margin-top: 20px;
    color: #080415;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.67; /* 166.667% */
    text-decoration-line: underline;
}

.project-item__media::before {
    bottom: 0;
    right: 0;
    position: absolute;
    content: url(../img/project-item__decor.png);
}
.project-item__img {
    position: relative;
    z-index: 1;
}
.special__btn {
    display: block;
    margin: 80px auto 0;
    background: #fff;
    color: #080415;
}
/* Rating  */
.rating {
    padding-top: 140px;
}
.rating-head {
    text-align: center;
}
.rating-cta {
    display: flex;
    align-items: center;
    gap: 9px;
    justify-content: center;
}
.rating-cta__title {
    color: #5d3bee;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25; /* 125% */
    letter-spacing: -1.28px;
}
.rating__heading {
    margin-top: 10px;
    color: #080415;
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 1.17; /* 117.857% */
    letter-spacing: -2.24px;
}
.rating__desc {
    margin: 15px auto 0;
    width: 570px;
    color: #51586a;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67; /* 166.667% */
}
.rating-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 95px;
    margin: 70px 112px;
    border-top: 1px solid rgba(8, 4, 21, 0.2);
    border-bottom: 1px solid rgba(8, 4, 21, 0.2);
}
.rating-item__number {
    color: #080415;
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 1.35; /* 135.714% */
    letter-spacing: 1.68px;
    text-decoration-line: underline;
}
.rating-item__title {
    color: #51586a;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.67; /* 166.667% */
}
.rating-media__video {
    /* position: relative; */
}
.rating-media {
    position: relative;
}
.rating-media__play {
    --size:111px;

    bottom: 50%;
    left: 50%;
    translate: -50% 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--size);
    height: var(--size);
    flex-shrink: 0;
    background: #fff;
    border-radius: 50%;
}
.rating-media__play:hover {
    cursor: pointer;
    box-shadow: 0px 3px 68px 0px rgba(0, 0, 0, 0.75);
}
.rating-media__video {
    width: 100%;
    object-fit: cover;
}
.rating-media__btn {
    background: #fff;
    color: #51586a;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.67; /* 166.667% */
    text-transform: uppercase;
    position: absolute;
    bottom: 10px;
    right: 10px;
}
/* Comment */
.comment {
    padding: 150px 74px;
    position: relative;
    background: #fbfaff;
}
.comment::before {
    bottom: 0;
    left: 0;
    position: absolute;
    content: url(../img/comment__decor1.svg);
}
.comment::after {
    bottom: 0;
    right: 0;
    position: absolute;
    content: url(../img/comment__decor2.svg);
}
.comment-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.comment__heading {
    color: #080415;
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 1.17; /* 117.857% */
    letter-spacing: -2.24px;
}
.comment__desc {
    width: 570px;
    margin-top: 20px;
}
.comment-list {
    margin-top: 60px;
    display: flex;
    align-items: center;
    overflow: hidden;
    flex-wrap: nowrap;
}
.comment-item {
    width: 100%;
    flex-shrink: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.comment-item__title {
    width: 679px;
    color: #51586a;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.67; /* 166.667% */
}
.comment-item__user {
    margin-top: 36px;
    display: flex;
    align-items: center;
    column-gap: 15px;
}
.user__icon {
    --size:44px;
    width: var(--size);
    height: var(--size);
    background: #f29764;
    border: 2px solid #fff;
    border-radius: 50%;
    overflow: hidden;
}
.user__img {
    --size:40px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    object-fit: cover;
}
.user__name {
    color: #080415;
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.33; /* 133.333% */
}

.comment-user__note {
    margin-top: 4px;
    color: #51586a;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.81; /* 181.25% */
}
.comment-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
    margin-top: 40px;
}
/* Question */
.question {
    padding: 95px 0;
}
.question__heading {
    width: 575px;
    color: #080415;
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 1.17; /* 117.857% */
    letter-spacing: -2.24px;
}
.question-list {
    margin: 20px 161px 0 0;
    display: flex;
    flex-direction: column;
}

.question-item {
    padding: 60px 0 33px 22px;
    border-bottom: 2px solid #08182f;
}

.question-item__btn {
    display: inline-block;
}
.question-item__heading {
    color: #080415;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.2525; /* 125% */
    letter-spacing: -1.28px;
}
.question__answer {
    display: none;
    width: 487px;
    margin-top: 23px;
    color: #51586a;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
}
.menu-mobile__label,
.question-item__label {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu-mobile__input,
.question-item__input {
    --size: 50px;
    opacity: 0;
    right: 0;
    position: absolute;
    cursor: pointer;
    height: var(--size);
    width: var(--size);
}
.menu-mobile__label:hover .menu-mobile__input ~ .menu-mobile__checkmark,
.question-item__label:hover .question-item__input ~ .question-item__checkmark {
    background-color: rgba(93, 59, 238, 0.2);
}
.menu-mobile__checmark,
.question-item__checkmark {
    --size: 50px;
    right: 0;
    position: absolute;
    height: var(--size);
    width: var(--size);
    background-color: #fff;
    border: 1px solid rgba(93, 59, 238, 0.2);
    border-radius: 50%;
}
.menu-mobile__checkmark::after,
.question-item__checkmark::after {
    content: url(../img/question__open.svg);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;
    height: inherit;
}

.question-item__label:hover
    .question-item__input:not(checked)
    ~ .question-item__checkmark:after,
.question-item__label
    .question-item__input:checked
    ~ .question-item__checkmark:after {
    content: url(../img/question__close.svg);
}
/* .question-item__input:checked ~ .question-item__content .question__answer {
    display: block;
}
.question-item__input:checked ~ .question-item__content .question-item__heading {
    color: #5D3BEE;
} */

/* Mood */
.mood {
    padding: 65px 0 140px 0;
}
.mood-head {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mood__heading {
    color: #080415;
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 1.17; /* 117.857% */
    letter-spacing: -2.24px;
}
.mood__desc {
    width: 528px;
    margin-top: 20px;
}
.mood__tag {
    margin-top: 30px;
    color: #5d3bee;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25; /* 125% */
    letter-spacing: -1.28px;
    text-decoration-line: underline;
}

.mood-media {
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mood-media__img {
    width: 370px;
    height: 529px;
    flex-shrink: 0;
    object-fit: cover;
}

/* Book-call */
.book-call__inner {
    margin: 0 135px;
    padding: 68px 0;
    position: relative;
    background: #fbfaff;
}
.book-call__inner::before {
    left: 0;
    bottom: 0;
    position: absolute;
    content: url(../img/book-call__decor--left.svg);
}
.book-call__inner::after {
    top: 0;
    right: 0;
    position: absolute;
    content: url(../img/book-call__decor--right.svg);
}
.book-call__body {
    position: relative;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.book-call__body::after {
    position: absolute;
    content: url(../img/book-call__decor--center.svg);
}
.book-call__heading {
    color: #080415;
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 1.18; /* 117.857% */
    letter-spacing: -2.24px;
}
.book-call__desc {
    width: 570px;
}
.book-call__btn {
    margin-top: 10px;
}
/* Footer */
.footer {
    padding: 50px 86px 12px;
}
.footer__body {
    padding:0 50px;
}
.footer__copyright {
    margin-top: 32px;
    border-top:1px solid rgba(12, 7, 32, 0.2) ;
    padding:0 215px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.copyright__author,
.rule__title {
    padding: 18px 0;
    opacity: 0.6;
    color: #525771;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67; /* 166.667% */
}
.copyright__rule {
    display: flex;
    column-gap: 36px;
}
.rule__title {
    letter-spacing: -0.54px;
    position: relative;
}
.rule__title + .rule__title::before {
    bottom: 28px;
    left: -13px;
    position: absolute;
    content: " ";
    height: 14px;
    width: 1px;
    background: rgba(82, 87, 113, 0.6);
}
