* ,
::before, 
::after {
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    font-family: 'DM Sans', sans-serif;
}
div{
    padding: 0;
}
.inner{
    margin-top: 15px;
    font-size: 2rem;
    text-align: center;
    background: #ccc;
    padding: 30px;
}